// Colors
$clr-primary: #1b1b1b;
$clr-grey-text: #858585;
$clr-accent: #fbce4a;
$clr-accent-light: #E9E4DB;
$clr-accent-dark:#8F721D;
$clr-light-bg: #F5F5F5;
$clr-lighter-bg: #fbf9f6;
$clr-darker-bg: #e0e0e0;


// Editor accents
$clr-hedges: #D3E8FF;
$clr-apologies: #FCDAD7;
$clr-extrapolite: #FDF2D0;
$clr-communal: #DCF5EB;
$clr-questions: #EFDBFF;
$clr-qualifiers: #A9FAFF;

// Editor titles
$clr-title-hedges: #3E5ED1;
$clr-title-apologies: #D32929;
$clr-title-extrapolite: #D6731C;
$clr-title-communal: #198F5D;
$clr-title-questions: #833BC7;
$clr-title-qualifiers: #1B6266;
;